# Aula 02 - Listas - 02/11/2021

In [2]:
altura = [1.57, 1.60, 1.69, 1.70]

In [3]:
print(altura)

[1.57, 1.6, 1.69, 1.7]

In [4]:
type(altura)

list

In [5]:
altura_nome = ["Tainã", 1.57, "Neidinha", 1.60, "Andrea", 1.69, "Maybi", 1.70]

In [6]:
type(altura_nome)

list

In [7]:
print(altura_nome)

['Tainã', 1.57, 'Neidinha', 1.6, 'Andrea', 1.69, 'Maybi', 1.7]

## Lista de listas

In [8]:
altura_nome2 = [["Tainã", 1.57], 
                ["Neidinha", 1.60],
                ["Andrea", 1.69],
                ["Maybi", 1.70]]

In [9]:
print(altura_nome2)

[['Tainã', 1.57], ['Neidinha', 1.6], ['Andrea', 1.69], ['Maybi', 1.7]]

In [10]:
type(altura_nome2)

list

## Transformando listas em Data Frames

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(altura_nome2)

In [14]:
df

          0     1
0     Tainã  1.57
1  Neidinha  1.60
2    Andrea  1.69
3     Maybi  1.70

In [15]:
df.columns = ['nome', 'altura']

In [16]:
df

       nome  altura
0     Tainã    1.57
1  Neidinha    1.60
2    Andrea    1.69
3     Maybi    1.70

## Indexação no Python

In [17]:
altura_nome2[1]

['Neidinha', 1.6]

In [18]:
altura_nome2[0]

['Tainã', 1.57]

In [20]:
altura_nome2[0:3] # Não é inclusivo, vai do 0 ao 2, não inclui o último

[['Tainã', 1.57], ['Neidinha', 1.6], ['Andrea', 1.69]]

# Exercício

## Questão 1

- Crie as variáveis: quarto, sala, banheiro e cozinha. Preencha com valores de área $(m^2)$.
- Agora, crie uma lista chamada `area`, que receba as variáveis criadas anteriorment.
- Imprima a lista `area` e seu tipo.

In [24]:
quarto = 8
sala = 12
banheiro = 4
cozinha = 6

In [25]:
area = [quarto, sala, banheiro, cozinha]

In [26]:
area

[8, 12, 4, 6]

In [27]:
type(area)

list

In [28]:
type(area[2])

int

## Questão 2

- Atualize a lista `area` intercalando os nomes dos ambientes, e as variáveis que representam suas medidas.
- Imprima `area` novamente e seu tipo.
- Criar uma lista de lista.

In [29]:
area = ["quarto", quarto, "sala", sala, "banheiro", banheiro, "cozinha", cozinha]

In [30]:
area

['quarto', 8, 'sala', 12, 'banheiro', 4, 'cozinha', 6]

In [31]:
type(area)

list

In [32]:
area[5]

4

In [33]:
area2 = [["quarto", quarto],
        ["sala", sala],
        ["banheiro", banheiro],
        ["cozinha", cozinha]]

In [34]:
area2

[['quarto', 8], ['sala', 12], ['banheiro', 4], ['cozinha', 6]]

In [37]:
area2[3]

['cozinha', 6]

In [39]:
len(area2) # A lista tem 4 elementos, mas os índices vão de 0 a 3.

4