# Hello World

In [2]:
print("Hello World")

Hello World

# 1. Variáveis

In [10]:
altura = 1.79

In [11]:
peso = 68.7

In [12]:
altura

1.79

In [13]:
peso

68.7

In [14]:
print(altura)

1.79

In [15]:
print(peso)

68.7

In [16]:
imc = peso/altura**2

In [17]:
print(imc)

21.44127836209856

In [18]:
imc

21.44127836209856

In [19]:
round(imc, 2) #arredonda

21.44

In [22]:
imc = round(peso/altura**2, 2) # O imc já sairá arredondado

In [21]:
imc

21.44

# 2. Tipos de Variáveis

In [24]:
type(imc)

float

In [41]:
numero_de_filhos = 5
dia_da_semana = 7

In [51]:
type(numero_de_filhos)

int

In [52]:
type(dia_da_semana)

int

In [28]:
nome = "Tainã"

In [29]:
cidade = 'Salvador'

In [30]:
type(nome)

str

In [31]:
type(cidade)

str

In [32]:
z = True

In [33]:
type(z)

bool

In [35]:
w = False
type(w)

bool

# 3. Juntando Variáveis

In [36]:
imc + peso

90.14

In [39]:
soma2 = imc + numero_de_filhos
soma2

26.44

In [40]:
type(soma2)

float

In [43]:
soma3 = numero_de_filhos + dia_da_semana
soma3

12

In [44]:
type(soma3)

int

In [45]:
nome + cidade

'TainãSalvador'

In [46]:
nome + " " + cidade

'Tainã Salvador'

In [49]:
soma4 = dia_da_semana + z
soma4

8

In [50]:
type(soma4)

int

In [53]:
cidade + imc

TypeError: can only concatenate str (not "float") to str

In [55]:
cidade + " " + str(imc)

'Salvador 21.44'

In [56]:
imc

21.44

In [57]:
type(imc)

float

In [58]:
imc + peso

90.14

In [59]:
imc = str(imc)

In [60]:
imc + peso

TypeError: can only concatenate str (not "float") to str

In [62]:
imc = float(imc)

In [63]:
imc + peso

90.14

In [64]:
float("banana")

ValueError: could not convert string to float: 'banana'

# 4. Exercícios

In [68]:
# 1. Crie uma variável chamada economias e atribua à 
# ela o valor 1500.
# 2. Imprima a variável economias e o seu tipo.
# 3. Os juros compostos são calculados como se segue:
# M = C x (1 + i)**n
# em que,
# M = Montante
# C = Capital
# i = taxa de juros
# n = tempo

# Suponha que você vá fazer um investimento com juros de 3% ao ano, 
# e você aplica o capital salvo na sua variável economias, ou seja,
# R$ 1500. Qual será seu montante ao final de 7 anos? Crie as variáveis
# presentes na equação acima, salvando o resultado na variável montante
# e imprima o resultado.

### 4.1  Crie uma variável chamada economias e atribua à ela o valor 1500

In [70]:
economias = 1500

### 4.2 Imprima a variável economias e o seu tipo.

In [72]:
print(economias)
type(economias)

1500

int

### 4.3 Os juros compostos são calculados como se segue: M = C x (1 + i)**n

In [76]:
C = economias
i = 0.03
n = 7
C, i , n

(1500, 0.03, 7)

In [82]:
M = round(C*(1 + i)**n, 2)

In [83]:
montante = M
montante

1844.81

In [85]:
juros = round(montante - economias, 2)
print(juros)

344.81

In [87]:
print("Eu comecei com R$ " + str(economias) + " e agora eu tenho R$ " 
      + str(montante) 
      + ". O juros gerado foi de R$ "
      + str(juros))

Eu comecei com R$ 1500 e agora eu tenho R$ 1844.81. O juros gerado foi de R$ 344.81